<!DOCTYPE html>
<html>
<head>
	<title>Not Recognized</title>
	<link rel="icon" href="{{ url_for('static', filename='a.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='notmatch.css') }}">
</head>
<body>
	<div>
		<img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="logo">
		<div class="main">
			<div class="sub-main">

				<h1>User with this email id doesn't exist</h1>
			    <img src="{{ url_for('static', filename='nr.png') }}" class="nr">	
			</div>
			
			
		</div>
		
	</div>

</body>
</html>